<footer class="footer">
    <div class="shell">
        <div class="grid grid--align-center">
            <div class="grid__col grid__col--6of12">
                <a href="home.html" class="logo logo--footer">
                    <img src="assets/images/svg/logo-compact.svg" alt="">
                </a><!-- /.logo -->

                <div class="copyright">
                    <p>Copyright 2021 Our Kids Read</p>
                </div><!-- /.copyright -->

                <nav class="nav-footer">
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>

                        <li>
                            <a href="#">Terms and Conditions</a>
                        </li>

                        <li>
                            <a href="contact-us.html">Contact Us</a>

                            <span class="hidden">Tax ID: XXXXXXXXXXXXXX</span>
                        </li>
                    </ul>
                </nav><!-- /.nav-footer -->

                <div class="legal">
                    <p>Our Kids Read is a Federally recognized 501c3 not-for-profit entity, Federal Tax ID # 83-3401365</p>
                </div><!-- /.legal -->
            </div><!-- /.grid__col -->

            <div class="grid__col grid__col--6of12">
                <div class="socials">
                    <h6>Follow us</h6>

                    <ul>
                        <li>
                            <a href="#">
                                <i class="ico-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ico-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ico-instagram"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ico-linkedin"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ico-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.socials -->
            </div><!-- /.grid__col -->
        </div><!-- /.grid -->
    </div><!-- /.shell -->
</footer><!-- /.footer -->