<header class="header js-header header--white">
    <div class="shell header__shell">
        <a href="home.html" class="logo">
            <img src="assets/images/logo.svg" alt="">
        </a>

        <div class="header__bar">
            <nav class="nav-secondary">
                <ul>
                    <li>
                        <a href="#">
                            <i class="ico-arrow-right"></i>

                            Get Free Books
                        </a>
                    </li>

                    <li>
                        <a href="contact-us.html">
                            <i class="ico-arrow-right"></i>

                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav><!-- /.nav-secondary -->

            <nav class="nav">
                <ul>
                    <li>
                        <a href="about.html">
                            <i class="ico-arrow-right"></i>

                            About
                        </a>
                    </li>

                    <li>
                        <a href="mission.html">
                            <i class="ico-arrow-right"></i>

                            Mission
                        </a>
                    </li>

                    <li>
                        <a href="success-stories.html">
                            <i class="ico-arrow-right"></i>

                            Success Stories
                        </a>
                    </li>

                    <li>
                        <a href="faq.html">
                            <i class="ico-arrow-right"></i>

                            FAQ
                        </a>
                    </li>

                    <li>
                        <a href="make-a-donation.html">Donate Now</a>
                    </li>
                </ul>
            </nav><!-- /.nav -->
        </div><!-- /.header__bar -->

        <div class="nav-toggle js-nav-mobile">
            <span></span>

            <span></span>

            <span></span>
        </div><!-- /.nav-toggle -->
    </div><!-- /.shell -->
</header><!-- /.header -->