<div class="popup js-popup">
    <div class="shell popup__shell">
        <div class="nav-toggle nav-toggle--popup is-active js-popup-close">
            <span></span>

            <span></span>

            <span></span>
        </div><!-- /.nav-toggle -->

        <div class="slider slider--slick">
            <div class="slider__clip">
                <div class="slider__slides js-slider-slides">
                    <div class="slider__slide">
                        <div class="book-box">
                            <div class="book-box__image">
                                <img src="assets/images/temp/overlay.png" srcset="assets/images/temp/overlay.png 1x, assets/images/temp/overlay@2x.png 2x" alt="" width="416" height="416">
                            </div><!-- /.book-box__image -->

                            <div class="book-box__body">
                                <h2>
                                    He's Got the Whole World in His Hands
                                </h2>

                                <h3>By Kadir Nelson</h3>

                                <p>
                                    What began as a spiritual has developed into one of America's best-known songs, and now for the first time it appears as a picture book, masterfully created by award-winning artist Kadir Nelson.T hrough sublime landscapes and warm images of a boy and his family, Kadir has created a dazzling, intimate interpretation, one that rejoices in the connectedness of people and nature.
                                </p>

                                <p>
                                    Inspired by the song's simple message, Kadir sought to capture the joy of living in and engaging with the world. Most importantly, he wished to portray the world as a child might see it—vast and beautiful.
                                </p>

                                <div class="book-box__actions">
                                    <a href="#" class="btn btn--primary btn--right-icon">
                                        Read Details

                                        <i class="ico-arrow-light"></i>
                                    </a>
                                </div><!-- /.book-box__actions -->
                            </div><!-- /.book-box__body -->
                        </div><!-- /.book-box -->
                    </div><!-- /.slider__slide -->

                    <div class="slider__slide">
                        <div class="book-box">
                            <div class="book-box__image">
                                <img src="assets/images/temp/overlay.png" srcset="assets/images/temp/overlay.png 1x, assets/images/temp/overlay@2x.png 2x" alt="" width="416" height="416">
                            </div><!-- /.book-box__image -->

                            <div class="book-box__body">
                                <h2>
                                    He's Got the Whole World in His Hands Slide 2
                                </h2>

                                <h3>By Kadir Nelson</h3>

                                <p>
                                    What began as a spiritual has developed into one of America's best-known songs, and now for the first time it appears as a picture book, masterfully created by award-winning artist Kadir Nelson.T hrough sublime landscapes and warm images of a boy and his family, Kadir has created a dazzling, intimate interpretation, one that rejoices in the connectedness of people and nature.
                                </p>

                                <p>
                                    Inspired by the song's simple message, Kadir sought to capture the joy of living in and engaging with the world. Most importantly, he wished to portray the world as a child might see it—vast and beautiful.
                                </p>

                                <div class="book-box__actions">
                                    <a href="#" class="btn btn--primary btn--right-icon">
                                        Read Details

                                        <i class="ico-arrow-light"></i>
                                    </a>
                                </div><!-- /.book-box__actions -->
                            </div><!-- /.book-box__body -->
                        </div><!-- /.book-box -->
                    </div><!-- /.slider__slide -->
                </div><!-- /.slider__slides -->
            </div><!-- /.slider__clip -->

            <div class="slider__actions">
                <a href="#" class="slider__prev">Back</a>

                <a href="#" class="slider__next">Next</a>
            </div><!-- /.slider__actions -->
        </div><!-- /.slider-->
    </div><!-- /.shell -->
</div><!-- /.popup -->