/* ------------------------------------------------------------ *\
    Breadcrumbs
\* ------------------------------------------------------------ */

.breadcrumbs {
    width: 100%;
    padding: 2.4rem 0 0 0;
    font-size: 1.4rem;
    font-family: $ff-neue-haas-grotesk-text-pro-md;

    li {
        display: inline;
        position: relative;

        &:not(:first-child) {
            margin-left: 2rem;
        }

        &:not(:first-child):after {
            content: '\002F';
            position: absolute;
            height: 1.6rem;
            width: .2rem;
            left: -1.6rem;
            top: -.3rem;
        }

        &.is-current {
            color: $c-medium-gray;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            color: $c-emerald;
        }
    }
}