/* ------------------------------------------------------------ *\
    Callout
\* ------------------------------------------------------------ */

.callout {
    position: relative;
    padding: 22.6rem 0 7.9rem 3.2rem;
    background: $c-off-white;

    @media #{$small-desktop} {
        padding: 24.3rem 0 4.9rem 2.4rem;
    }

    @media #{$mobile} {
        padding: 24.3rem 0 8.3rem 2.4rem;
    }

    h4 {
        font-family: $ff-neue-haas-grotesk-disp-pro;
        font-weight: bold;
        font-size: 4rem;
        line-height: 4.4rem;
        max-width: 39rem;
        margin-bottom: 1.6rem;

        @media #{$small-desktop} {
            font-size: 3.2rem;
            line-height: 3.6rem;
        }
    }

    .callout__content {
        max-width: 95%;
    }

    .callout__image img {
        position: absolute;
        right: 0;
        top: 8rem;
        max-width: 22.4rem;

        @media #{$small-desktop} {
            max-width: 17.4rem;
            max-height: 18rem;
            top: 5rem;
        }

        @media #{$mobile} {
            top: 4.8rem;
        }
    }

    .callout__actions a {
        margin-top: 1.5rem;
    }
}