/* ------------------------------------------------------------ *\
  Grid
\* ------------------------------------------------------------ */

.grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1.6rem;

    @media #{$tablet-portrait} {
        margin: 0 -1.6rem;
    }

    @media #{$tablet-portrait-xs} {
        margin: 0 -1.2rem;
    }

    @media #{$mobile} {
        margin: 0 -0.8rem;
    }

    @media #{$mobile-small} {
        margin: 0 -.575rem;
    }

    /*  Grid col */

    .grid__col {
        max-width: 100%;
        flex: 1;
        padding: 0 1.6rem;

        @media #{$tablet-portrait} {
            padding: 0 1.6rem;
        }

        @media #{$tablet-portrait-xs} {
            padding: 0 1.2rem;
        }

        @media #{$mobile} {
            min-width: 100%;
            padding: 0 0.8rem;
        }

        @media #{$mobile-small} {
            padding: 0 .575rem;
        }
    }

    /* justify end  */

    .grid__col--justify-end {
        justify-content: flex-end;
    }

    /* justify end  */

    .grid__col--order-md-2 {

        @media #{$tablet-portrait} {
            order: 2
        }
    }

    /*  Grid col full width */

    .grid__col--full-size {
        @media #{$tablet-portrait} {
            min-width: 100%;
            flex: 0 0 100%;
        }
    }

    /*  Grid col 1of12  */

    .grid__col--1of12 {
        max-width: 8.33%;
        flex: 0 0 8.33%;
    }

    /*  Grid col 2of12  */

    .grid__col--2of12 {
        max-width: 16.66%;
        flex: 0 0 16.66%;
    }

    /*  Grid col 3of12  */

    .grid__col--3of12 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    /*  Grid col 4of12  */

    .grid__col--4of12 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    /*  Grid col 5of12  */

    .grid__col--5of12 {
        max-width: 41.66%;
        flex: 0 0 41.66%;
    }

    /*  Grid col 6of12  */

    .grid__col--6of12 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /*  Grid col 7of12  */

    .grid__col--7of12 {
        max-width: 58.33%;
        flex: 0 0 58.33%;
    }

    /*  Grid col 8of12  */

    .grid__col--8of12 {
        max-width: 66.66%;
        flex: 0 0 66.66%;
    }

    /*  Grid col 9of12  */

    .grid__col--9of12 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    /*  Grid col 10of12  */

    .grid__col--10of12 {
        max-width: 83.33%;
        flex: 0 0 83.33%;
    }

    /*  Grid col 11of12  */

    .grid__col--11of12 {
        max-width: 91.66%;
        flex: 0 0 91.66%;
    }

    /*  Grid col 12of12  */

    .grid__col--12of12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/*  Grid align center  */

.grid--align-center {
    align-items: center;
}

/*  Grid justify end  */

.grid--justify-end {
    justify-content: flex-end;
}

/*  Grid col full width */

.grid--full {
    .grid__col {
        @media #{$tablet-portrait} {
            min-width: 100%;
            flex: 0 0 100%;
        }
    }
}

/*  Grid col half */

.grid--half {
    .grid__col {
        @media #{$tablet-portrait} {
            min-width: 50%;
            flex: 0 0 50%;
        }

        @media #{$mobile} {
            min-width: 100%;
            flex: 0 0 100%;
        }
    }
}