/* ------------------------------------------------------------ *\
    Hero
\* ------------------------------------------------------------ */

.hero {
    position: relative;
    min-height: 91.8rem;
    display: flex;
    align-items: center;
    padding: 8rem 0 0 0;

    @media #{$small-desktop} {
        padding: 5.6rem 0;
    }

    @media #{$mobile} {
        padding: 4.5rem 0;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        background: $c-seafoam;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5000rem;
        z-index: -1;
    }

    h1 {
        font-size: 7.8rem;
        line-height: 8rem;
        letter-spacing: -0.26rem;
        position: relative;
        margin-bottom: 5rem;

        @media #{$small-desktop} {
            font-size: 6rem;
            line-height: 6.2rem;
            letter-spacing: -0.2rem;
        }

        &:after {
            content: '';
            background: $c-coral;
            height: .4rem;
            width: 9.4rem;
            position: absolute;
            bottom: -2.6rem;
            left: 0;
        }
    }

    .hero__content {
        padding: 16.1% 18.5% 0 0;

        @media #{$small-desktop} {
            padding: 0 0 3.5rem 0;
        }
    }

    .hero__actions a {
        margin: 2.3rem 1rem 0 0;

        @media #{$mobile} {
            width: 100%;
            margin: 2.3rem 1rem -0.8rem 0;
        }
    }

    .hero__images {
        text-align: right;
        margin-top: -6.7rem;

        @media #{$small-desktop} {
            margin-top: 2.7rem;
            margin-bottom: -1.3rem;
        }

        @media #{$mobile} {
            margin-top: 0rem;

            /*DELETE PERMANENT CODE*/
            margin-bottom: -3.6rem;
        }
    }
}