/* ------------------------------------------------------------ *\
    Hr
\* ------------------------------------------------------------ */

.hr {
    background: $c-coral;

    hr {
        width: 100%;
        height: .1rem;
        background: $c-white;
        border: none;
    }
}