/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
    display: block;
    max-width: 14rem;
    z-index: 100;
    width: 14rem;
}

.logo--footer {
    z-index: 0;

    @media #{$mobile} {
        margin: 0 auto;
    }
}