/* ------------------------------------------------------------ *\
    Page head
\* ------------------------------------------------------------ */

.page-head {
    position: relative;
    padding-bottom: 4.8rem;
    padding-top: 3.2rem;

    @media #{$small-desktop} {
        padding-top: 5.4rem;
    }

    @media #{$mobile} {
        padding-top: 4.4rem;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5000rem;
        z-index: -1;
    }

    h1 {
        font-size: 5.6rem;
        line-height: 6rem;
        position: relative;
        margin-bottom: 5.6rem;
        letter-spacing: -0.19rem;

        @media #{$small-desktop} {
            font-size: 4.9rem;
        }

        &:after {
            content: '';
            background: $c-white;
            height: .4rem;
            width: 9.4rem;
            position: absolute;
            bottom: -2.6rem;
            left: 0;
        }
    }

    h2 {
        font-size: 3.2rem;
        line-height: 3.6rem;
    }

    p {
        font-size: 1.9rem;
        line-height: 3rem;
        padding-right: 10rem;
        letter-spacing: 0.01rem;

        @media #{$mobile} {
            padding-right: 0rem;
        }
    }

    .video {
        margin-top: 3rem;
        margin-bottom: 3.4rem;

        @media #{$small-desktop} {
            margin-top: 6.4rem;
            margin-bottom: 5.4rem;
        }

        @media #{$mobile} {
            margin-top: 3.5rem;
            margin-bottom: 1.4rem;
        }
    }
}

/* Page head turquoise */

.page-head--turquoise {
    color: $c-white;

    &:before {
        background: $c-turquoise;
    }
}

/* Page head coral */

.page-head--coral {
    color: $c-white;

    &:before {
        background: $c-coral;
    }
}