/* ------------------------------------------------------------ *\
	Radio
\* ------------------------------------------------------------ */

.radio-alt {
    label {
        display: block;
        min-width: 8rem;
        gap: 0.8rem;
        border: 0.2rem solid $c-turquoise;
        padding: 1.2rem 0.5rem;
        font-size: 1.4rem;
        line-height: 1.14;
        text-align: center;
        background-color: $c-white;
        font-family: $ff-neue-haas-grotesk-text-pro-md;
    }

    input[type="radio"] {
        opacity: 0;
        position: absolute;

        &:checked~label {
            background-color: $c-seafoam;
        }
    }
}