/* ------------------------------------------------------------ *\
	Section Forms
\* ------------------------------------------------------------ */

.section-forms {
    margin: 6.7rem 0 8.4rem;

    @include breakpoint-down(tablet) {
        margin: 5.2rem 0 7.3rem;
    }

    @include breakpoint-down(mobile) {
        margin: 4.1rem 0 6.3rem;
    }

    .section__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.2rem;

        @include breakpoint-down(small-desktop) {
            gap: 1.5rem;
        }

        @include breakpoint-down(tablet) {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }

    .section__content {
        padding-top: 0.4rem;
    }

    .section__title {
        font-size: 4.8rem;
        line-height: 1.08;
        letter-spacing: -0.032em;
        margin-bottom: 1.4rem;

        @include breakpoint-down(tablet) {
            font-size: 4rem;
            line-height: 1.3;
        }
    }

    .section__entry {
        font-size: 2rem;
        line-height: 1.4;
    }

    .section__link {
        margin-top: 3.3rem;
    }

    .section__steps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.1rem;
        margin-top: 4.7rem;

        @include breakpoint-down(tablet) {
            gap: 3.1rem;
        }

        @include breakpoint-down(mobile) {
            grid-template-columns: 1fr;
            gap: 8.8rem;
            margin-top: 3.3rem;
        }
    }

    .section__image {
        margin-top: 3.2rem;
        position: relative;
        padding-bottom: 52.25%;

        @include breakpoint-down(tablet) {
            padding-bottom: 51.9%;
        }
    }

    .section__image img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
    }

    .section__actions {
        margin-top: 4.8rem;
    }
}

.section-forms--alt {
    @include breakpoint-down(tablet) {
        margin: 5.2rem 0 7.2rem;
    }

    @include breakpoint-down(mobile) {
        margin: 4.2rem 0 6.4rem;
    }
}